
@font-face {
    font-family: Dense;
    src: url("fonts/Dense/Dense-Regular.otf");
}


@font-face {
    font-family: Simplifica;
    src: url("fonts/Simplifica/SIMPLIFICA Typeface.ttf");
}


header, nav, footer{
  font-family: 'Open Sans', 'Helvetica', sans-serif;
  margin-top: 30px;
}

header {
  text-align: center;
  padding-top: 0.5em;
  font-weight: 300;
  font-size: 3.5em;
  color: #2196f3;
  width: 30%;
  float:left;
  font-weight: 100;
}

nav {
  float: right;
  width: 55%;
  text-align: right;
  padding-right: 2em;
  padding-left: 2em;
  padding-top: 2.4em;
  font-size: 1.4em;
  text-align: right;
}

nav a:link, a:visited{
  color: #2196f3;
  text-decoration: none;
  padding-left: 1em;
  padding-right: 1em;
}

nav a:hover, a:active{
  color: #0d47a1  ;
  text-decoration: none;
}

/* Clear floats after the columns */
section:after {
    content: "";
    display: table;
    clear: both;
}

picture {
  text-align: center;
  padding-top: 0.5em;
  width: 30%;
  float:left;
  padding: 150px 0;
}

footer {
  float: left;
  width: 100%;
  font-size: 11px;
  color: #2196f3;
  text-align: center;
}

footer a:link, a:visited{
  color: #2196f3;
  text-decoration: none;
}

footer a:hover, a:active{
  color: #0d47a1  ;
  text-decoration: none;
}

/* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
@media (max-width: 900px) {
    header, nav {
        width: 100%;
        float: left;
      }

      nav {
        width: 100%;
        text-align: center;
        padding-left: 0em;
        padding-right: 0em;
      }

      picture {
        width: 100%;
        padding: 20px 0;
      }
}
